<nav>
  <ul>
    <li>
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
        <button>Dashboard</button>
      </a>
    </li>
    <li>
      <a routerLink="/products" routerLinkActive="active" ariaCurrentWhenActive="page">
        <button>Products</button>
      </a>
    </li>
    <li>
      <a routerLink="/my-cart" routerLinkActive="active" ariaCurrentWhenActive="page">
        <button>My Cart</button>
      </a>
    </li>
  </ul>
</nav>


<router-outlet></router-outlet>